*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
background-color: #1D0F6E;
display: flex;
align-items: center;
justify-content: space-around;

}

p{
    color: white;
   
    
}
.aviao{
    width: auto;
}