*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
background-color: #1D0F6E;
display: flex;
align-items: center;
justify-content: space-around;

}

p{
    color: white;
   
    
}
.aviao{
    width: 100%;
    height: 70%;
    margin-bottom: 100px;
}

.confira{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.pacotes{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 200px;
}

.londres{
    width: 342px;
height: 513px;
margin-right: 100px

}

.rio{
    width: 342px;
height: 513px;
margin-right: 100px
}

.japao{
    width: 342px;
height: 513px;
margin-right: 100px
}