*{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

header{
    background-color: #648769;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    color: white;
    font-size: 70px;
}
h4{
    font-size: 48px;
}

h3{
    font-size: 64px;
    color: #2A5B31;
    display: flex;
    padding-left: 100px;
    padding-top: 70px;
}

p{
    font-size: 34px;
}

.livros{
    width:370px;
    height: 260px;  
}

.pacote{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 100px ;
  
}
 .funciona{
    width: 376px;
height: 671px;
    padding: 50px;
 }

 .presente{
    width: 376px;
height: 671px;
    padding: 50px;
 }

 .kit{
    width: 376px;
height: 671px;
    padding: 50px;
 }
.bloco{
    width: 150px;
    height: 150px;
}

.livro{
    width: 150px;
    height: 150px;
}

.caixa{
    width: 150px;
    height: 150px;
}
footer{
    background-color: #648769;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 300px;
}
